.clock {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  justify-content: center;
  line-height: 1;
}

@media(min-width: 375px) {
  .counterLabel {
    font-size: .75em;
  }
  .counterNumber {
    font-size: 1.25em;
  }
}

@media(min-width: 600px) {
  .counterLabel {
    font-size: 1em;
  }

  .counterNumber {
    font-size: 3em;
  }
}
.clockElement {
  position: relative;
}

.clockElement > div {
  left: 50%;
  top: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

.clockElement > div > text {
  margin: 0;
}


.counterNumber {
  margin: 0;
}
